<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../libs/css/choose_version.css">
    <link rel="stylesheet" href="../libs/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../libs/img/mus-musculus.ico">
    <title>Mouse Frame - Versions</title>
</head>
<body>
    <header>
        <h1>Welcome to mouseframe</h1>
        <style>.image-one {width: 300px; height: 300px;}</style>
        <img class="image-one" src="../libs/img/logo.png">
    </header>
    <div class="info">
        <h3>Before choosing a version!</h3>
        <ul>
            <li><u>Old version</u> of mouseframe is a more compact and stacked form of the application. It has a confusing layout for beginners, but all the functions are shown after successful image upload.</li>
            <style>.ul-style {list-style-type: none;}</style>
            <ul class="ul-style"><li>&#x26A0 <u>Note:</u> This old version will not receive any further updates, besides critical ones that may affect the whole application.</li></ul>
            <li><u>New version</u> of mouseframe has a more recent layout according to some industry standards and it is more visually appealing with responsive functionalities to help the user better use and understand the application. This new version is divided into function sections. These sections enable a linear workflow for the user, instead of having all functions shown at the beggining.</li>
        </ul>
        <p>For more information do not hesitate to contact me at: <a href="mailto:mouseframe.app@gmail.com">mouseframe.app@gmail.com</a></p>
        <div class="container">
            <h2>Choose your version</h2>
            <div class="container-list">
                <style>.ref-no-dec {text-decoration: none;}</style>
                <a href="./index_old.html" class="ref-no-dec"><button type="button" class="btn btn-outline-secondary">Old version</button></a>
                <a href="./index.html"><button type="button" class="btn btn-outline-success">New version</button></a>
            </div>
        </div>
    </div>
</body>
</html>