<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../libs/css/contact.css">
        <link rel="shortcut icon" href="../libs/img/mus-musculus.ico">
        <link rel="stylesheet" href="../libs/fontawesome/css/all.css">
        <link rel="stylesheet" href="../libs/css/bootstrap.min.css">
        <title>MOUSEFRAME - Analysis</title>
    </head>
<body>
    <p id="version">v<span data-version></span></p>
    <header>
        <h1><div class="header-images"><img class="image-one" src="../libs/img/mouse.png"><img class="image-two" src="../libs/img/mouse-paws.png"></div><div class="text-title">&nbsp&nbsp&nbspMOUSEFRAME - Contact details</div> </h1>
        <li class="nav-item dropdown" style="list-style-type: none;">
          <a class="nav-link dropdown-toggle" style="color: #000;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            More
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="./index.html">Home</a></li>
            <li><a class="dropdown-item" href="./info.html">Information</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="https://abcri.pt/" target="_blank">ABC-RI</a></li>
          </ul>
        </li>
    </header>
    <main>
    <div class="container-full">
        <div class="container-contact">
            <div class="left-side-contact">
                <h3>Contact details</h3>
                <p style="font-size:1.5em;">For more information or any questions <br>that may arise don't hesitate to contact.</p>
                <div style="font-size:2em;">Contact directly via email <i class="fas fa-envelope"></i>:</div>
                <ul>
                    <li><a href="mailto:polyqdatabase@mail.com">polyqdatabase@gmail.com</a></li>
                    <li><a href="mailto:mouseframe.app@gmail.com">mouseframe.app@gmail.com</a></li>
                </ul>
                <div style="font-size:2em;">Available social links <i class="fa-solid fa-user"></i>:</div>
                <div class="logos">
                <a href="https://www.linkedin.com/in/bernas-estevam97/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <div class="right-side-contact">
                <img src="../libs/img/logo.png">
            </div>
        </div>
    </div>
    </main>
    <footer>
        <div class="footer-links">
          <a href="./index.html">Home/Analysis</a>
          <a href="./info.html">Information page</a>
          <a href="https://abcri.pt/" target="_blank">ABC-RI</a>
          <a href="https://abcri.pt/mngt/" target="_blank">MNGT</a>
        </div>
        <p>© MOUSEFRAME. All rights reserved 2022<span id="year"></span></p>
        <div class="footer-logos">
          <div class="img-one"><img src="../libs/img/Logo_ABCRI.png" alt=""></div>
          <div class="img-two"><img src="../libs/img/Logo_MNGT.png" alt=""></div>
        </div>
      </footer>
      <script type="text/javascript" src="../libs/js/jquery-3.7.1.min.js"></script>
      <script type="text/javascript" src="../libs/js/bootstrap.bundle.min.js"></script>
      <script type="text/javascript" src="../libs/js/simple-version-control.js"></script>
      <script type="text/javascript" src="../libs/js/get-data-year.js"></script>
      <script type="text/javascript" src="../libs/js/js-cookie.js"></script>
</body>
</html>
