<base href="../">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./libs/css/style-new.css">
    <link rel="shortcut icon" href="./libs/img/mouse-animal.ico">
    <link rel="stylesheet" href="./libs/fontawesome/css/all.css">
    <title>Mouse Frame - Analysis</title>
</head>
<body>
  <p id="version">v1 Standalone app</p>
    <header>
        <h1>MOUSE FRAME - <i>mus musculus</i> walking behaviour analysis tool</h1>
        <img src="./libs/img/mouse.png">
    </header>
    <section class="modal" id="modalNews">
      <h2>Notices and updates - Version 1 Standalone App</h2>
      <ul>
        <li>Fixed visual bugs for most resolutions.</li>
        <li>Added compatibility for most resolutions but this app isn't supposed to be used on mobile.</li>
        <li>Added function to save values and use them without app refresh, this way not restarting your progress.</li>
        <li>The saved values require an image size of which the measurement was saved in order to keep track of right
          cm to pixel conversions and avoid measurement usage in wrong resolutions.</li>
      </ul>
      <btn class="btn-close" id="closeModal">Close</btn>
    </section>
    <!-- <div class="overlay hidden"></div> -->
    
    <div class="container-full">
        <!-- <div class="left-part"> -->
        <div class="requirements">
            <h3>Brief information and requirements</h3>
            <ul>
                <li>Only image file formats are supported (.tiff formats are not yet supported).</li>
                <li>In order to draw dots to perform the calculations, this is done in canvas. The canvas as the name implies is a surface where the user can draw, in this case only dots of different sizes and colors can be added.</li>
                <li>All the functionalities are shown after successful image upload.</li>
                <li>For more information on this application and to see how the calculations are made for each measurement, check this <a class="info-page" href="./templates/info.html">link</a>.</li>
                <li>Check news for this version <i class="fa-solid fa-arrow-right"></i> <btn class="show-updates" id="showNews">News and updates</btn></li>
            </ul>
            <p id="userResolution"></p>
        </div>
    <!-- </div> -->
    <!-- <div class="right-part"> -->
      <div class="img-selection">
        <div class="img-upload">
            <label for="img" style="font-size: 1.1em;">Upload your image here:</label>
            <p id="canvasUpload">Canvas starts with same size as the image uploaded. Change below if necessary.</p>
            <input type="file" id="uploadImage" name="img" alt="Upload" accept="image/*" onchange="loadFile(event);" style="display:none;">
            <!-- <input type="file" onchange="previewFile();"> -->
            <input class="upload-btn" type="button" value="Select Image" onclick="document.getElementById('uploadImage').click();" style="cursor: pointer;"/>
        </div>
        <div id="imgContainer" class="image-container">
          <canvas id="canvas"></canvas>
        </div>
      </div>
    <div class="bottom-functions">
      <div class="buttons">
         <button class="marker" type="button" id="redCircleLeft" onclick="drawRedCircleLeft();">Red (front) - Left</button>
         <button class="button" type="button" id="deleteCircleRedLeft" onclick="removeRedCircleLeft();">Delete last added left red dot</button>
         <button class="button" type="button" id="deleteAllCircleRedLeft" onclick="removeAllRedCircleLeft();">Delete all left red dots</button><br>
         <button class="marker" type="button" id="redCircleRight" onclick="drawRedCircleRight();">Red (front) - Right</button>
         <button class="button" type="button" id="deleteCircleRedRight" onclick="removeRedCircleRight();">Delete last added right red dot</button>
         <button class="button" type="button" id="deleteAllCircleRedRight" onclick="removeAllRedCircleRight();">Delete all right red dots</button><br>
         <button class="marker" type="button" id="blueCircleLeft" onclick="drawBlueCircleLeft();">Blue (hind) - Left</button>
         <button class="button" type="button" id="deleteCircleBlueLeft" onclick="removeBlueCircleLeft();">Delete last added left blue dot</button>
         <button class="button" type="button" id="deleteAllCircleRedLeft" onclick="removeAllBlueCircleLeft();">Delete all left blue dots</button><br>
         <button class="marker" type="button" id="blueCircleRight" onclick="drawBlueCircleRight();">Blue (hind) - Right</button>
         <button class="button" type="button" id="deleteCircleBlueRight" onclick="removeBlueCircleRight();">Delete last added right blue dot</button>
         <button class="button" type="button" id="deleteAllCircleBlueRight" onclick="removeAllBlueCircleRight();">Delete all right blue dots</button><br>
         <!---<button class="button" type="button" id="resetCanvasNotIdx" onclick="clearCanvas()">Clear Canvas</button>-->
         <button class="button" type="button" id="resetCanvas" onclick="resetCanvas();">Reset Canvas/Indexes</button>
         <button class="button" type="button" id="resetFile" onclick="resetFile();">Reset Image</button>
         <div class="point-removal">
         <h4>Remove a point of choice:</h4>
         <p>Instructions for manual removal:</p>
         <ul>
          <li>If you have points added, click to refresh button to show all available points for removal.</li>
          <li>Click empty to remove all the points from the list or simply refresh again if you have added new points</li>
          <li>After choosing your desired point for removal click the Remove Point button.</li>
          <li>By deleting a button, the group that it made part of will update.</li>
         </ul>
         <button id="refreshButton" onclick="refreshRemoveList();">Refresh</button>
         <button id="emptyListRemoval" onclick="emptyRemoveList();">Empty</button>
         <select id="selectPoint">
         </select>
         &nbsp<button id="removePoint" onclick="removeChosenPoint();">Remove Point</button>
        </div>
        <div class="point-size">
          <h2>Change dimensions of your marking points:</h2>
          <input id="sizeInput" type="number" placeholder="Dot Size">
          <button id="changeS" onclick="changeSize();">Change point size</button>
          <button id="resetS" onclick="resetSize();">Reset point size</button>
          <p> Default point radius size is set to 4px</p>
          <p id="dynamicSize"></p>
          <p><strong>Note:</strong>When deleting buttons make sure you don't change radius size. Only delete points when working with a fixed size</p>
          </div>
       </div>
       <div class="image-resize" id="imageEdit">
        <h3>Image resizing(*):</h3>
        <p style="font-size: 0.9em;">(*)Be sure to resize to your ideal size before working on any measurements.
          <br>(*)By resizing you delete any progress done on the current image size.
          <br>(*)When changing image original size make sure that image has a 1 cm scale to be <br>converted to pixels. <br>(*)Do not work with different image sizes if you can't get a 1 cm value in pixels<br> for all sizes. And do not use saved values acquired from images with sizes different<br> from the one you are working on. 
          <br><span style="color:red;"><b>&#9888;</b></span> <b><u>Caution:</u></b>&nbspAny data in the table below will be removed along with the dots marked
          <br> in the image when resizing!</p>
        <button id="seventyFiveP" onclick="resizeSF();">75% Size</button>
        <button id="fiftyP" onclick="resizeFifty();">50% Size</button>
        <button id="fortyP" onclick="resizeForty();">40% Size</button>
        <button id="twentyFiveP" onclick="resizeTwentyF();">25% Size</button>
        <button id="resetImgDim" onclick="resetImgDim();">Reset Dimensions</button><br><br>
        <p id="currentImgSize" name="image_size"></p>
        <!-- <br><br><h3>Image resizing slider:</h3>
        <input type="range" min="1" max="20" value="1" class="slider" id="Slider">
        <p><output id="value"></output></p> -->
       </div>

       <div id="imageInfo" class="image-info">
        <p id="imageName"></p>
        <p id="imageUploadedWidth"></p>
        <p id="imageUploadedHeight"></p>
        <p id="imageUploadedSize"></p>
        <!-- <p id="canvasInfo"></p> -->
      </div>
   
   <div class="saved-distances" id="savedDistance">
    <h3>Define how many pixels are in a centimeter.</h3>
    <p>If there is a drawn line with the length of 1cm, measure it in pixels here:</p>
    <p id="scaleDistance"></p>
    <button id="measureButton" class="measure" onclick="drawMeasureCircle();">Add measuring points</button>
    <button id="resetMeasure" onclick="removeAllMeasurePoints();">Reset points</button>
    <button onclick = "distanceMeasurePoint()" id="measureDistance">Measure</button>
    <p>Manually input known value of pixels in 1 cm or use saved values (choose only one value before clicking use):</p>
    <input id="pixelsInCmMan" type="number" pattern="^\d+(\.\d+)*$" onKeyPress="if(this.value.length==8) return false;" placeholder="Px in cm...">&nbspOR&nbsp
    <button onclick="manualInputMeasure();" id="manualUse">Use</button>
    <button onclick="resetInput();" id="resetManual">Reset</button>
    <!-- <button id="removeOption" type="submit">Delete</button> -->
    <div class="measure-info"><div id="measureIntro">Measurement result:</div><div id="measureToCm"></div></div>
   </div>
  </div>
   <div class="resolution-info">
    <label id="labelInput" for="inches">Your screen size in inches(in):</label>
    <input name="inches" class="input-inches" id="inputScreenInches" type="text" maxlength="4" size="4" onkeypress="if(!event.key.match(/[1-9.]/)) event.preventDefault()">
    <button class="ppi-calc" id="ppiCalculus" onclick="getScreenPPI();">Get Screen PPI</button>
    <p id="screenPPI"></p>
    <p id="imageUploadedDPI"></p>
    <p id="imageDimInches"></p>
    <p id="imageDimCm"></p>
   </div>
   <div class="buttons-change">
    <!-- <input id="canvasWidth" type="number" placeholder="Canvas Width">
    <button id="changeW" onclick="changeWidth();">Change canvas width</button>
    <button id="resetW" onclick="resetWidth();">Reset Width</button>
    <input id="canvasHeight" type="number" placeholder="Canvas Height">
    <button id="changeH" onclick="changeHeight();">Change canvas height</button>
    <button id="resetH" onclick="resetHeight();">Reset Height</button><br><br> -->
    <!-- <input id="containerWidth" type="number" placeholder="Image Width"> -->
    <!-- <button id="changeImgW" onclick="changeImgW();">Change image width</button> -->
    <!-- <button id="resetImgW" onclick="resetImgW();">Reset Image Width</button> -->
    <!-- <input id="containerHeight" type="number" placeholder="Image Height"> -->
    <!-- <button id="changeImgDim" onclick="changeImgDim();">Change Image dimensions</button> -->
    
   </div>
   <!-- <div class="saved-distances" id="savedDistance">
    <h2>Define how many pixels are in a centimeter.</h2>
    <p>If there is a drawn line with the length of 1cm, measure it in pixels here:</p>
    <p id="scaleDistance"></p>
    <button id="measureButton" onclick="drawMeasureCircle();">Measure</button>
    <button id="resetMeasure" onclick="removeAllMeasurePoints();">Reset</button>
    <button type="submit">Save</button>
    <button onclick = "distancePointRed();">DistanceRed</button>
   </div> -->
   <div class="data-management" id="showData">
    <div class="table-results">
    <h3>Data results table:</h3>
    <table id="table">
      <thead id="tableH">
      <tr>
        <td colspan="5" id="titleImage"><b>Table ID: </b></td>
      </tr>
      <tr id="idRow">
        <th>Entry Number</th>
        <th>Points</th>
        <th>Measurement type</th>
        <th id="valuePx">Value(px)</th>
        <th id="valueCm">Value(cm)</th>
      </tr>
    </thead>
    <tbody id="tbody">
    </tbody>
    </table>
    <div id="imageResizeTableWarning"></div>
    <button id="exportEx" onclick="ExportToExcel('xlsx');"> Export to excel file </button>
  </div>
  <div class="select-options">
    <!-- <form action="/"> -->
      <!-- <label for="point">Select point 1:</label>
        <select name="point" id="pointChosen1">
        </select>
      <label for="point">Select point 2:</label>
      <select name="point" id="pointChosen2">
      </select> -->
      <!-- <label for="measurement">Measurement:</label>
      <select name="measurement" id="measurement">
        <option value="Overlap Left" selected>Overlap Left</option>
        <option value="Overlap Right" selected>Overlap Right</option>
        <option value="Stride length left front">Stride length left front</option>
        <option value="Stride length left hind">Stride length left hind</option>
        <option value="Stride length right front">Stride length right front</option>
        <option value="Stride length right hind">Stride length right hind</option>
        <option value="Stride Width Front">Stride Width Front</option>
        <option value="Stride Width Hind">Stride Width Hind</option>
      </select> -->
      <div id="footstepsBeginning">
      <label for="beginning">First set of footsteps:</label>
      <select name="beginning" id="footstepStart">
        <option value="Left">Left</option>
        <option value="Right">Right</option>
      </select>
      <input id="addAll" type="submit" onclick="addEntriesAll()" value="Add Entries">&nbsp<input id="addAll" type="submit" onclick="addEntriesAllAverage()" value="Add Entries with average"><br>
      </div>
      <!-- <input type="submit" onclick="addEntry();" value="Add Entries"><br> -->
      <!-- <br><p id="entryPreview"></p> -->
      <!-- <button id="refreshList" onclick="refreshList();">Refresh</button>
      <button id="empty" onclick="emptyList();">Empty</button> -->
      <div class="remove-by-entries">
      <p>Remove by entries &#8628;</p>
      <input id="entryNumber" placeholder="Entry nº" size="3" maxlength="3">
      <button id="removeEntry" onclick="removeEntry();">Remove Entry</button>
      <button id="removeAllEntries" onclick="removeAllEntries();">Remove All Entries</button>
      </div>
      <div class="remove-by-measurement">
      <p>Remove by measurement type &#8628;</p>
      <select name="measurement" id="removeMeasurement">
        <option value="Overlap Left" selected>Overlap Left</option>
        <option value="Overlap Right" selected>Overlap Right</option>
        <option value="Stride length left front">Stride length left front</option>
        <option value="Stride length left hind">Stride length left hind</option>
        <option value="Stride length right front">Stride length right front</option>
        <option value="Stride length right hind">Stride length right hind</option>
        <option value="Stride Width Front">Stride Width Front</option>
        <option value="Stride Width Hind">Stride Width Hind</option>
      </select>
      <button onclick="removeByMeasurement();">Remove</button>
      </div>
      <div class="table-id">
      <p>Insert table ID:</p><input id="entryTableID" placeholder="Enter an ID for table">&nbsp<button onclick="updateTableID()">Submit</button>&nbsp<button onclick="removeTableID();">Remove</button>
      </div>
      <!-- <button id="test" onclick="distanceBetweenPoints();">Calculate Distance</button> -->

    <!-- </form> -->
  </div>
</div>
   <!-- </div> -->
</div>
<script type="text/javascript" src="./libs/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="./libs/js/canvas_idea_new.js"></script>
<script type="text/javascript" src="./libs/js/xlsx-full.min.js"></script>
<script type="text/javascript" src="./libs/js/effects.js"></script>
<script type="text/javascript" src="./libs/js/notices_updates_modal.js"></script>
<script type="text/javascript" src="./libs/js/js-cookie.js"></script>
<script type="text/javascript" src="./libs/js/jquery.modal.min.js"></script>
<script>
  let fileName = document.getElementById("entryTableID");

  function ExportToExcel(type, fn, dl) {
      var elt = document.getElementById('table');
      var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
      return dl ?
          XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
          XLSX.writeFile(wb, fn || (fileName.value != ""? fileName.value + "." + (type || 'xlsx'): "measurements." + (type || 'xlsx')));
  }

</script>
</body>
</html>