<base href="../">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./libs/css/style.css">
    <title>Mouse Frame - Analysis</title>
</head>
<body>
  <p id="version">Static Version v1</p>
    <header>
        <h1>MOUSE FRAME - <i>mus musculus</i> walking behaviour analysis tool</h1>
        <img src="./libs/img/mouse.png">
    </header>
    <div class="container-full">
        <!-- <div class="left-part"> -->
        <div class="requirements">
            <h3>Brief information and requirements</h3>
            <ul>
                <li>Only image file formats are supported (.tiff formats are not yet supported).</li>
                <li>In order to draw dots to perform the calculations, this is done in canvas. The canvas as the name implies is a surface where the user can draw, in this case only dots of different sizes and colors can be added.</li>
                <li>All the functionalities are shown after successful image upload.</li>
                <li>Check <a href="./templates/info.html">this</a> page to see how the calculations are made for each measurement and other important information about the features.</li>
            </ul>
        </div>
    <!-- </div> -->
    <!-- <div class="right-part"> -->
      <div class="img-selection">
        <div class="img-upload">
            <label for="img" style="font-size: 1.1em;">Upload your image here:</label>
            <p id="canvasUpload">Canvas starts with same size as the image uploaded. Change below if necessary.</p>
            <input type="file" id="uploadImage" name="img" alt="Upload" accept="image/*" onchange="loadFile(event);" style="display:none;">
            <!-- <input type="file" onchange="previewFile();"> -->
            <input class="upload-btn" type="button" value="Select Image" onclick="document.getElementById('uploadImage').click();" style="cursor: pointer;"/>
        </div>
        <div id="imgContainer" class="image-container">
          <canvas id="canvas"></canvas>
        </div>
      </div>
    <div class="bottom-functions">
      <div class="buttons">
         <button class="marker" type="button" id="redCircleLeft" onclick="drawRedCircleLeft();">Red (front) - Left</button>
         <button class="button" type="button" id="deleteCircleRedLeft" onclick="removeRedCircleLeft();">Delete last added left red dot</button>
         <button class="button" type="button" id="deleteAllCircleRedLeft" onclick="removeAllRedCircleLeft();">Delete all left red dots</button><br>
         <button class="marker" type="button" id="redCircleRight" onclick="drawRedCircleRight();">Red (front) - Right</button>
         <button class="button" type="button" id="deleteCircleRedRight" onclick="removeRedCircleRight();">Delete last added right red dot</button>
         <button class="button" type="button" id="deleteAllCircleRedRight" onclick="removeAllRedCircleRight();">Delete all hind red dots</button><br>
         <button class="marker" type="button" id="blueCircleLeft" onclick="drawBlueCircleLeft();">Blue (hind) - Left</button>
         <button class="button" type="button" id="deleteCircleBlueLeft" onclick="removeBlueCircleLeft();">Delete last added left blue dot</button>
         <button class="button" type="button" id="deleteAllCircleRedLeft" onclick="removeAllBlueCircleLeft();">Delete all left blue dots</button><br>
         <button class="marker" type="button" id="blueCircleRight" onclick="drawBlueCircleRight();">Blue (hind) - Right</button>
         <button class="button" type="button" id="deleteCircleBlueRight" onclick="removeBlueCircleRight();">Delete last added right blue dot</button>
         <button class="button" type="button" id="deleteAllCircleBlueRight" onclick="removeAllBlueCircleRight();">Delete all right blue dots</button><br>
         <!---<button class="button" type="button" id="resetCanvasNotIdx" onclick="clearCanvas()">Clear Canvas</button>-->
         <button class="button" type="button" id="resetCanvas" onclick="resetCanvas();">Reset Canvas</button>
         <button class="button" type="button" id="resetFile" onclick="resetFile();">Reset Image</button>
         <div class="point-removal">
         <h4>Remove a point of choice:</h4>
         <p>Instructions for manual removal:</p>
         <ul>
          <li>If you have points added, click to refresh button to show all available points for removal.</li>
          <li>Click empty to remove all the points from the list or simply refresh again if you have added new points</li>
          <li>After choosing your desired point for removal click the Remove Point button.</li>
          <li>By deleting a button, the group that it made part of will update.</li>
         </ul>
         <button id="refreshButton" onclick="refreshRemoveList();">Refresh</button>
         <button id="emptyListRemoval" onclick="emptyRemoveList();">Empty</button>
         <select id="selectPoint">
         </select>
         &nbsp<button id="removePoint" onclick="removeChosenPoint();">Remove Point</button>
        </div>
       </div>
       <div class="image-resize" id="imageEdit">
        <h3>Image resizing:</h3>
        <button id="seventyFiveP" onclick="resizeSF();">75% Size</button>
        <button id="fiftyP" onclick="resizeFifty();">50% Size</button>
        <button id="fortyP" onclick="resizeForty();">40% Size</button>
        <button id="twentyFiveP" onclick="resizeTwentyF();">25% Size</button>
        <button id="resetImgDim" onclick="resetImgDim();">Reset Dimensions</button><br><br>
        <p id="currentImgSize"></p>
        <!-- <br><br><h3>Image resizing slider:</h3>
        <input type="range" min="1" max="20" value="1" class="slider" id="Slider">
        <p><output id="value"></output></p> -->
       </div>

       <div id="imageInfo" class="image-info">
        <p id="imageName"></p>
        <p id="imageUploadedWidth"></p>
        <p id="imageUploadedHeight"></p>
        <p id="imageUploadedSize"></p>
        <!-- <p id="canvasInfo"></p> -->
      </div>
   
   <div class="saved-distances" id="savedDistance">
    <h3>Define how many pixels are in a centimeter.</h3>
    <p>If there is a drawn line with the length of 1cm, measure it in pixels here:</p>
    <p id="scaleDistance"></p>
    <button id="measureButton" class="measure" onclick="drawMeasureCircle();">Add measuring points</button>
    <button id="resetMeasure" onclick="removeAllMeasurePoints();">Reset points</button>
    <button onclick = "distanceMeasurePoint()" id="measureDistance">Measure</button>
    <p>Manually input known value of pixels in 1 cm or use saved values (choose only one value before clicking use):</p>
    <input id="pixelsInCmMan" type="number" size="6" placeholder="Px in cm...">&nbspOR&nbsp
    <button onclick="manualInputMeasure();" id="manualUse">Use</button>
    <button onclick="resetInput();" id="resetManual">Reset</button>
    <div class="measure-info"><div id="measureIntro">Measurement result:</div><div id="measureToCm"></div></div>
   </div>
  </div>
   <div class="buttons-change">
    <div class="point-size">
    <h2>Change dimensions of your marking points:</h2>
    <input id="sizeInput" type="number" placeholder="Dot Size">
    <button id="changeS" onclick="changeSize();">Change point size</button>
    <button id="resetS" onclick="resetSize();">Reset point size</button>
    <p> Default point radius size is set to 4px</p>
    <p id="dynamicSize"></p>
    <p><strong>Note:</strong>When deleting buttons make sure you don't change radius size. Only delete points when working with a fixed size</p>
    </div>
   </div>
   <div class="data-management" id="showData">
    <div class="table-results">
    <h3>Data retrieved:</h3>
    <table id="table">
      <thead>
      <tr>
        <td colspan="5" id="titleImage"><b>Table ID: </b></td>
      </tr>
      <tr>
        <th>Entry Number</th>
        <th>Points</th>
        <th>Measurement type</th>
        <th>Value(px)</th>
        <th>Value(cm)</th>
      </tr>
    </thead>
    <tbody id="tbody">
    </tbody>
    </table>
    <button id="exportEx" onclick="ExportToExcel('xlsx');"> Export to excel file </button>
  </div>
  <div class="select-options">
      <div id="footstepsBeginning">
      <label for="beginning">First set of footsteps:</label>
      <select name="beginning" id="footstepStart">
        <option value="Left">Left</option>
        <option value="Right">Right</option>
      </select>
      <input id="addAll" type="submit" onclick="addEntriesAll()" value="Add Entries">&nbsp<input id="addAll" type="submit" onclick="addEntriesAllAverage()" value="Add Entries with average"><br>
      </div>
      <div class="remove-by-entries">
      <p>Remove by entries &#8628;</p>
      <input id="entryNumber" placeholder="Entry nº" size="3" maxlength="3">
      <button id="removeEntry" onclick="removeEntry();">Remove Entry</button>
      <button id="removeAllEntries" onclick="removeAllEntries();">Remove All Entries</button>
      </div>
      <div class="remove-by-measurement">
      <p>Remove by measurement type &#8628;</p>
      <select name="measurement" id="removeMeasurement">
        <option value="Overlap Left" selected>Overlap Left</option>
        <option value="Overlap Right" selected>Overlap Right</option>
        <option value="Stride length left front">Stride length left front</option>
        <option value="Stride length left hind">Stride length left hind</option>
        <option value="Stride length right front">Stride length right front</option>
        <option value="Stride length right hind">Stride length right hind</option>
        <option value="Stride Width Front">Stride Width Front</option>
        <option value="Stride Width Hind">Stride Width Hind</option>
      </select>
      <button onclick="removeByMeasurement();">Remove</button>
      </div>
      <div class="table-id">
      <p>Insert table ID:</p><input id="entryTableID" placeholder="Enter an ID for table">&nbsp<button onclick="updateTableID()">Submit</button>&nbsp<button onclick="removeTableID();">Remove</button>
      </div>

  </div>
</div>
   <!-- </div> -->
</div>
<script type="text/javascript" src="./libs/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="./libs/js/canvas_idea.js"></script>
<script type="text/javascript" src="./libs/js/xlsx-full.min.js"></script>
<script type="text/javascript" src="./libs/js/effects.js"></script>
<!-- <script type="text/javascript" src="{% static 'js/canvasjs.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.canvasjs.min.js' %}"></script> -->
<script>
  let fileName = document.getElementById("entryTableID");

  function ExportToExcel(type, fn, dl) {
      var elt = document.getElementById('table');
      var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
      return dl ?
          XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
          XLSX.writeFile(wb, fn || (fileName.value != ""? fileName.value + "." + (type || 'xlsx'): "measurements." + (type || 'xlsx')));
  }

</script>
<!-- <script type="text/javascript" src="./libs/js/ajax.js"></script> -->
</body>
</html>